<!DOCTYPE html>
<html>
  <head>
    <title>View Assignment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="card mx-auto mt-3 mb-3" style="width: 24rem">
          <img id="cat" class="card-img-top" alt="" src="{{url}}">
          <div class="card-body">
            <div class="form-group">
              <h5>Title</h5>
              <!-- double mustache, the content is HTML escaped -->
              <p>{{title}}</p>
            </div>
            <div class="form-group">
              <h5>User</h5>
              <p>{{user}}</p>
            </div>
            <div class="form-group">
              <h5>Comment</h5>
              <!-- note the tripple mustache, the content is not HTML escaped -->
              <p>{{{comment}}}</p>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>